
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c1a472;
    font-family: "Cambria Math", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
}

.main-container{
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffefd9;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    padding: 20px 30px;
}




.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 32px;
    background-color: wheat;
    color: antiquewhite;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: "Cambria Math", serif;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.7);


}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-size: 18px;
}
.nav-links a:hover {
    color: darkorange;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-bottom: 50px;

}
.profile-img{
    border-radius: 5%;
    object-fit: cover;
    height: 300px;
    width: 600px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.24);

}
.text-container{
    text-align: center;
    font-size: 20px;
    max-width: 700px;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: wheat;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    padding: 20px 30px;
}
.footer{
    text-align: center;
    font-size: 18px;
    color: black;
    margin-top: 50px;
}
.github{
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}
.github:hover{
    color: darkorange;
}


